<div class="convert-form">
  <span class="convert-span"
    >Please, enter amount and choose the currency for converting</span
  >
  <div>
    <input
      class="convert-input"
      [(ngModel)]="fromValue"
      placeholder="from"
      (keyup)="calculateCurrencyOne()"
    />
    <select
      class="convert-select"
      [(ngModel)]="fromCurr"
      (change)="getCurrencyRateOne()"
    >
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>

  <div>
    <input
      class="convert-input"
      [(ngModel)]="toValue"
      placeholder="to"
      (keyup)="calculateCurrencyTwo()"
    />
    <select
      class="convert-select"
      [(ngModel)]="toCurr"
      (change)="getCurrencyRateTwo()"
    >
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="UAH">UAH</option>
    </select>
  </div>

  <div class="convert-rateinfo">
    Current rate {{ fromCurr }} -> {{ toCurr }} =
    <b>{{ resultRate.toFixed(2) }}</b>
  </div>
</div>

<!-- <div>
  <label
    >FROM
    <input #amountFrom (change)="onChangeAmountFrom(amountFrom.value)" value="{{amount}} " />
</label>
    <select #currencyFrom (change)="onChangeFrom(currencyFrom.value)">
        <option>Choose</option>
      <option>USD</option>
      <option>EUR</option>
      <option>UAH</option>
    </select>
  
</div>

<div>
  <label
    >TO
    <input #amountTo (change)="onChangeAmountTo(amountTo.value)" value="{{response ? response.result : ''}}" />
</label>
    <select #currencyTo (change)="onChangeTo(currencyTo.value)">
        <option>Choose</option>
      <option>USD</option>
      <option>EUR</option>
      <option>UAH</option>
    </select>
  
</div>

<button (click)="convert()">CONVERT</button> -->
